@page "/Home/Index"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
 
<AuthorizeView>
    <Authorized><MudAlert Severity="Severity.Success" Variant="Variant.Filled">Authorized</MudAlert></Authorized>
    <NotAuthorized><MudAlert Severity="Severity.Warning" Variant="Variant.Filled">Not Authorized</MudAlert></NotAuthorized>
</AuthorizeView>