@page "/Home/Index"
@using MudBlazor
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
<style>

    body {
        background-color: #121212;
        color: #fff;
        font-family: 'Cinzel', serif !important;
    }

    .logo {
        font-family: 'Cinzel', serif !important;
        font-size: 24px;
        color: #ffffff;
    }

    .hero-section {
        font-family: 'Cinzel', serif !important;
        color: white !important;
        background-image: url('/Images/Layout.jpeg') !important;
        background-size: auto;
        padding-top: 20%;
        color: #fff;
        height: 100vh !important;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .features-section {
        background-image: url('/Images/Home/Features/Background.jpeg') !important;
        background-size: auto;
        height: 100vh;
        padding-top: 2%;
    }

    .background-section {
    }

    .story-section {
        color: white !important;
        background-color: black;
        padding-top: 2%;
        height: 100vh;
        width: 100%;
        background-image: url('Images/Home/History/Background.png') !important;
        background-size: auto;
    }

    .signup-section {
        background-color: black;
        padding: 40px 0;
        text-align: center;
        height: 40vh;
        width: 100%;
    }

    .Principal-Container {
        width: 100%;
        padding: 0px !important;
        color: white;
    }

    .mud-card {
        color: white !important;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

</style>

<div class="Principal-Container text-center">

    <MudCarousel Class="mud-width-full" Style="height:100vh;" TData="object" AutoCycle="true">
        <!-- Slide 1: Hero Section -->
        <MudCarouselItem>
            <div class="hero-section text-center">
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <MudText Typo="Typo.h3">Welcome to the World of Ursulla</MudText>
                        <MudText Typo="Typo.subtitle1">Venture into the medieval world and become a legend!</MudText>
                        <MudButtonGroup OverrideStyles="false">
                            <MudButton OnClick="NavigateToRegister" StartIcon="@Icons.Material.Filled.Person" Color="Color.Secondary" Variant="Variant.Filled" Class="mt-4">Register</MudButton>
                            <MudButton EndIcon="@Icons.Material.Filled.VideogameAsset" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4">Play</MudButton>
                        </MudButtonGroup>
                    </MudItem>
                </MudGrid>
            </div>
        </MudCarouselItem>

        <!-- Slide 2: Features Section -->
        <MudCarouselItem>
            <div id="features" class="features-section">
                <MudGrid style="padding:40px;">
                    <MudItem xs="12" md="4">
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h5">Open World</MudText>
                            </MudCardContent>
                            <MudCardMedia Image="Images/Card/OpenWorld.jpeg" Width="100" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.body2">This word.</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h5">PVP and PVE</MudText>
                            </MudCardContent>
                            <MudCardMedia Image="Images/Card/PvpAndPve.jpeg" Width="100" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.body2">This pvp and pve.</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h5">Classes</MudText>
                            </MudCardContent>
                            <MudCardMedia Image="Images/Card/Classes.jpeg" Width="100" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.body2">This Classes.</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </div>
        </MudCarouselItem>

    </MudCarousel>

</div>

@code {
    public async Task NavigateToRegister()
    {
        NavigationManager.NavigateTo("Auth/Index");
    }

    @code {
        private async Task ScrollToNextSection(string Section)
        {
            await JS.InvokeVoidAsync("scrollToElement", Section);
        }
    }
}
