@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
 
<AuthorizeView>
    <Authorized><MudAlert Severity="Severity.Success" Variant="Variant.Filled">The reactor is running at optimum temperature</MudAlert></Authorized>
    <NotAuthorized><MudAlert Severity ="Severity.Error"  Variant = "Variant .Outlined">Não Autenticado! </MudAlert></NotAuthorized>
</AuthorizeView>