@inherits LayoutComponentBase

<div class="page">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
