.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Images/Designer.jpeg') !important;
    background-size: cover;
    padding: 20px
}

.login-card {
    width: 400px;
    max-width: 400px;
    border-radius: 13px;
    padding: 20px;
}

.mud-paper, .login-card {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.mud-card-content {
    background-color: transparent;
}

.mud-input > input.mud-input-root,
div.mud-input-slot.mud-input-root {
    color: white !important;
}

h4, p, h1, h2, h3 {
    font-family: 'Cinzel', serif !important;
    color: white;
}

h4 {
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
}

.close-button {
    margin-bottom: 20px;
    align-self: flex-start;
}

.button-group {
    margin-top: 20px;
}



@media (max-width: 768px) {
    .login-card {
        max-width: 90%;
        padding: 15px;
    }
}


@media (max-width: 480px) {
    .login-card {
        max-width: 100%;
        padding: 10px;
    }

    .close-button {
        margin-bottom: 10px;
    }
}
