@inherits LayoutComponentBase

<div class="page">

    
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />


    <main>
        <article>
            @Body
        </article>
    </main>
</div>
