@inject NavigationManager NavigationManager
@inject AuthService AuthService
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


<MudCard>
    <MudCardContent>
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegister">
            <MudText Typo="Typo.h4">Register</MudText>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-2">
                <MudTextField T="string" @bind-Value="@RegisterModel.Email" Variant="Variant.Outlined" InputType="InputType.Email" Label="Email" Required="true" RequiredError="Email is required!" />
            </div>

            <div class="form-group mt-2">
                <MudTextField T="string" @bind-Value="@RegisterModel.Password" Variant="Variant.Outlined" InputType="InputType.Password" Label="Password" Required="true" RequiredError="Password is required!" />
            </div>

            <div class="form-group mt-2">
                <MudTextField T="string" @bind-Value="@RepeatPasssword" Variant="Variant.Outlined" InputType="InputType.Password" Label="Repeat Password" Required="true" RequiredError="Repeat Password is required!" />
            </div>

            <MudButton ButtonType="ButtonType.Submit" Class="mt-4" Variant="Variant.Filled" Color="Color.Secondary">Register</MudButton>
        </EditForm>
    </MudCardContent>
</MudCard>

@if (ShowErrors)
{
    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">@Error </MudAlert>
}


@code {
    private User RegisterModel = new();
    String RepeatPasssword = "";
    bool ShowErrors = false;
    string Error = String.Empty;

    private async Task HandleRegister()
    {
        try
        {
            ShowErrors = false;
            var result = await AuthService.Register(RegisterModel);
            if (result.Token is not null)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                ShowErrors = true;
            }
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            ShowErrors = true;
        }

    }
}

